.al-home-logo-container {
  height: 300px;
}
.al-home-logo {
  width: 100%;
  max-width: 400px;
  height: auto;
}

@media (max-width: 811px) {
  .al-home-logo {
    max-width: 400px;
    object-fit: cover;
  }
}
@media (max-width: 500px) {
  .al-home-logo {
    max-width: 300px;
  }
}

@media (max-width: 350px) {
  .al-home-logo {
    max-width: 240px;
  }
}
