select#xyz {
    border:0px;
    outline:0px;
 }

select {
    box-sizing: border-box ;
    width: 100%  !important;
    height: 48px  !important;
    padding-left: 24px  !important;
    padding-right: 24px  !important;
    border: $theme-border  ;
    border-radius: 10px  !important;
    outline: 1.5px solid #5468ff00  !important;
    transition: border-color 0.05s ease-in-out  !important;
    transition: outline-color 0.05s ease-in-out  !important;
    box-shadow: none !important;
    &:focus {
      border: 2px solid $theme-blue !important;
    };
    &:disabled {
      cursor: not-allowed  !important;
    };
    option {
        border: $theme-border  !important;
        border-color: $theme-blue !important;
    }
    option:first-child {
        border-radius: 10px;
    }
    option:last-child {
        border-radius: 10px;
    }
  }

  .al-select-wrapper {
    position: relative;
          & select:focus ~ label {
            color: $theme-blue;
            font-weight: 600;
          }
  }
 
