.al-form {
  border: $theme-border;
  border-radius: 12px;
}
.al-form-group {
  label {
    position: absolute;
    top: -13px;
    left: 13px;
  }
  .ai-form-input-error {
    input {
      border: 2px solid red;
    }
    select {
      border: 2px solid red;
    }
    label {
      color: red
    }
  }
  .al-form-error-message {
    display: inline-block;
    color: $theme-error;
  }
  .al-form-error-icon {
    color: $theme-error;
  }
}
