* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  font-size: $theme-text-size;
  font-family: $theme-font-family;
  font-weight: $theme-text-weight;
  line-height: $theme-line-height;
}
p {
  padding: 0;
  margin: 0;
}

h1 {
  color: $theme-black;
  font-weight: $text-theme-h1-weight;
  font-size: $text-theme-h1-size;
}

h2 {
  color: $theme-black;
  font-weight: $text-theme-h2-weight;
  font-size: $text-theme-h2-size;
}
