//Colors

$theme-blue: #0f0e2e;
$theme-black: #3d3b3b;
$theme-white_color: #ffffff;
$theme-smoak-white: #f5f5f5;
$theme-dark-grey: #65656d;
$theme-light-grey: #eaeaea;
$theme-grey: #aeaeae;
$placeholder-color: #929292;

//Box shadow
$theme-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
$primary-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);

// Border
$theme-border: 1.5px solid $theme-light-grey;

// Text
// Text-theme
$theme-font-family: 'Poppins';
$theme-text-weight: 400;
$theme-text-size: 16px;
$theme-line-height: 1.6;
// Text-breacrumb
$text-breadcrumb-weight: 500;
$text-breadcrumb-size: 20px;
// Text-Radio-Button
$text-radio-weight: 400;
$text-radio-size: 14px;

// Button-theme
