.al-header-container {
  box-sizing: border-box;
  height: 97px;
}

.al-dropdown-sidebar-icon {
  color: $theme-white_color;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

@media (max-width: 759px) {
  .al-header-container {
    background-color: $theme-blue;
  }
}
