
@media (min-width: 760px) {
  .al-main-template-container {
    padding-left: 110px;
  }
}

/* https://www.youtube.com/watch?v=qTGbWfEEnKI */
.grid-container {
  height: 100%;
  display: grid;
  grid-template:
    'sidebar header header header header header header header header header header'
    'sidebar content content content content content content content content content';

  grid-template-rows: 50px auto;
}

.header-grid {
  grid-area: header;
}

.sidebar-grid {
  grid-area: sidebar;
}

.content-grid {
  grid-area: content;
}

.grid-container > div {
  border: 1px solid red;
}