/* https://www.youtube.com/watch?v=qTGbWfEEnKI */
.grid-container {
  height: 100vh;
  display: grid;
  grid-template:
    'sidebar header header'
    'sidebar content content';

  grid-template-rows: 50px auto;
}

.grid-container > div {
  border: 1px solid red;
}

.header-grid {
  grid-area: header;
}

.content-grid {
  grid-area: content;
}

.sidebar-grid {
  grid-area: sidebar;
  /* // width:25%;
    // height: 100%;
    // display:flex;
    // position: fixed;
    // transition: 850ms;
    // top:0;
    // left:0;
    // background-color: white; */
}

/* // .sidebarToggleShow {
//     width:25%;
// }

// .sidebarToggleHide {
//     left: -10vh;
//     width:0px;
// }

// .col-xs
// <768px

// .col-sm
// >=768px

// .col-md
// >=992px
// .col-lg
// >=1200px */
